<%- include('partials/header.ejs') %>
<div class="myForm">
    <form class="row myForm-form-post mx-4 justify-content-center py-4 px-2 bg-light" method="POST" action="/<%=currentUser.username%>/create">
        <div class="col-12">
            <h1 class="text-center myForm-head text-dark mb-4">Create Post</h1>
        </div>
        <div class="col-12 form-group">
            <input type="text" class="form-control" placeholder="Title" name="title">
        </div>
        <div class="col-12 form-group">
            <textarea type="text" class="form-control" placeholder="Start writing here" name="body" cols="10"
                rows="10"></textarea>
        </div>
        <div class="col-12 form-group">
            <button class="btn btn-lg btn-dark myForm-submit">Create</button>
        </div>

    </form>
</div>
<%- include('partials/footer.ejs') %>