<%- include('partials/header.ejs') %>
<div class="myForm">
    <form class="row myForm-form mx-4 justify-content-center py-4 px-2 bg-light" method="POST" action="/auth/register">
        <div class="col-12">
            <h1 class="text-center myForm-head text-dark mb-4">Register</h1>
        </div>
        <div class="col-lg-6 col-12 form-group">
            <input type="text" class="form-control" placeholder="First Name" name="firstname">
        </div>

        <div class="col-lg-6 col-12 form-group">
            <input type="text" class="form-control" placeholder="Last Name" name="lastname">
        </div>
        <div class="col-12 form-group">
            <input type="text" class="form-control" placeholder="Username" name="username">
        </div>
        <div class="col-12 form-group">
            <input type="email" class="form-control" placeholder="Email" name="email">
        </div>
        <div class="col-12 form-group">
            <input type="password" class="form-control" placeholder="Password" name="password" maxlength="20">
        </div>
        <div class="col-12 form-group">
            <input type="password" class="form-control" placeholder="Confirm Password" name="confpassword">
        </div>
        <div class="col-lg-6 col-12 form-group">
            <select name="gender" id="" class="form-control">
                <option value="default">Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
            </select>
        </div>
        <div class="col-lg-6 col-12 form-group">
            <select name="privacy" id="" class="form-control">
                <option value="public">Privacy</option>
                <option value="public">Public</option>
                <option value="private">Private</option>
            </select>
        </div>
        <div class="form-check col-12 form-group">
            <input type="checkbox" id="accept-terms" class="" name="terms">
            <label for="accept-terms" class="form-check-label">Accept <a href="#">Terms &amp; Conditions</a></label>
        </div>
        <div class="col-12 form-group">
            <button class="btn btn-lg btn-dark myForm-submit">Register</button>
        </div>

    </form>
</div>
<%- include('partials/footer.ejs') %>